/*RESET*/
* {box-sizing: border-box; margin: 0; padding: 0; border: 0; font-size: 100%; list-style: none; font-family: 'Roboto', sans-serif;}
a {text-decoration: none;}

/*TITULOS*/
.hero-t1 {font-size: 1.75rem;}
.hero-t2 {font-size: 1.125rem; margin: 16px 0; font-weight: 400;}
.hero-t3 {font-size: 1.125rem; font-weight: 400; padding: 0 10%}
.t1 {font-size: 1.75rem;}
.t2 {font-size: 1.125rem; margin: 16px 0; font-weight: 400;}
.t3 {font-size: 1.125rem; font-weight: 400; padding: 0 10%}

/*BUTTONS*/
.btn-nf-sm {background-color: #e50914; color: white; border-radius: 2px; padding: 4px 8px; font-size: 0.9rem;}
.btn-nf-lg {background-color: #e50914; color: white; border-radius: 2px; padding: 10px 16px; font-size: 1.1rem; min-width: 100px; text-transform: uppercase;}

/*SELECT*/
.slt-nf {background-color: inherit; color: #999; border: 1px solid rgba(255,255,255,.25); border-radius: 4px; padding: 16px 0; margin: 20px 0;}

/*BACKGROUND*/
.background > .section-01 {background-color: transparent;}
.background {background-size: cover; background-position: center; background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.2),rgba(0,0,0,1)),url('../img/background.jpg');}

/*HEADER*/
header {display: flex; justify-content: space-between; align-items: center; padding: 26px 20px;}
header img {width: 90px; margin-left: 5px;}

/*SECTION 1*/
.section-01 {display: flex; justify-content: center; align-items: center; flex-direction: column; flex-wrap: wrap; text-align: center; background-color: black; color: white; padding: 50px 5% 85px 5%; border-bottom: 8px solid #222;}
.section-01 form {display: flex; flex-direction: column; align-items: center;}
.section-01 form input {border-radius: 2px; width: 100%; height: 48px; padding: 10px; margin: 14px 0;}

/*SECTION 2*/
.section-01 h2 {position: relative; z-index: 3;}
.animation-01 {width: 100%; margin: -10% 0 10% 0; position: relative; z-index: 2;}
.video-01 {margin: -70% 0 10% 0; position: relative; width: 73%;}  

/*SECTION 3*/
.animation-02 {width: 100%;}
.box {display: flex; align-items: center; width: 80%; padding: 4px 10px; border: 2px solid rgba(255,255,255,.25); border-radius: 10px; background-color: black;}
.box > img:first-child {width: 13%; margin-right: 18px; flex-grow: 0;}
.box > img:last-child {width: 20%;flex-grow: 0;}
.box-text {display: flex; flex-direction: column; align-items: flex-start; flex-grow: 1;}
.box-text > p:first-child {font-size: 0.95rem; font-weight: 700;}
.box-text > p:last-child {font-size: 0.8rem; color: #0071eb;}

/*SECTION 4*/
.animation-03 {width: 100%; position: relative; z-index: 1;}
.video-02 {margin: -68% 0 25% -1%; position: relative; width: 63%;}

/*SECTION 5*/
.section-02 {display: flex; justify-content: center; align-items: center; flex-direction: column; flex-wrap: wrap; text-align: center; background-color: black; color: white; padding: 50px 0 50px 0; border-bottom: 8px solid #222;}
.section-02 form {display: flex; flex-direction: column; align-items: center; padding: 0 5% 0 5%}
.section-02 form input {border-radius: 2px; width: 100%; height: 48px; padding: 10px; margin: 14px 0;}
.panel > p {margin: 20px 0; font-size: 1.125rem;}

/*FOOTER*/
footer {padding: 50px 10% 32px 10%; background-color: black; color: #757575}
footer p:first-child {margin-bottom: 30px;}
footer a {color: #757575; font-size: 13.5px;}
footer a:hover {text-decoration: underline;}
footer ul {display: flex; flex-wrap: wrap;}
footer li {margin: 0 0px 12px 0; padding-right: 12px; width: 50%;}
footer p:last-child {font-size: 13.5px;}

/*W3 ACCORDION*/
/* Style the buttons that are used to open and close the accordion panel */
.accordion-wrapper {
    margin: 20px 0;
}

.accordion {
    background-color: #303030;
    color: white;
    font-size: 1.125rem;
    cursor: pointer;
    padding: 12px 18px;
    margin-bottom: 9px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }

.accordion:after {
    content: '\002B'; /* Unicode character for "plus" sign (+) */
    font-size: 1.5rem;
    color: white;
    float: right;
    margin-left: 5px;
}
  
.active:after {
    content: "\00D7"; /* Unicode character for "minus" sign (-) */
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    text-align: left;
    padding: 0 18px;
    background-color: #303030;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/*PARA TABLETS*/
@media only screen and (min-width: 600px) {
    /*HEADER*/
    header {padding: 28px 5%;}
    header img {width: 110px; margin-left: 5px;}

    /*BUTTONS*/
    .btn-nf-sm {padding: 7px 18px; margin-right: 8px; font-size: 1rem;}

    /*TITULOS*/
    .hero-t1 {font-size: 3.125rem;}
    .hero-t2 {font-size: 1.625rem;}
    .hero-t3 {font-size: 1.430rem;}
    .t1 {font-size: 2.5rem;}
    .t2 {font-size: 1.25rem;}
    .t3 {font-size: 1.430rem;}

    /*SECTION 1*/
    .section-01 {padding: 70px 5% 122px 5%;}
    .section-01 form {margin: 0 14%;}
    .section-01 form input {height: 60px;}

    /*SECTION 2*/
    .animation-01 {width: 87%; margin: -10% 0 10% 0;}
    .video-01 {margin: -62% 0 10% 0; position: relative; width: 64%;}

    /*SECTION 3*/
    .animation-02 {width: 88%; margin: -6% 0 0 0;}
    .box {width: 57%;}
    .box > img:last-child {width: 15%;}
    .box-text > p:first-child {font-size: 1.125rem;}
    .box-text > p:last-child {font-size: 0.9rem;} 

    /*SECTION 4*/
    .animation-03 {width: 88%; margin: -4% 0 0 0;}
    .video-02 {margin: -59% 0 22% -1%; width: 54%;}

    /*SECTION 5*/
    .accordion-wrapper {margin: 20px 80px;}
    .accordion {font-size: 1.295rem;}
    .panel > p {margin: 20px 0; font-size: 1.295rem;}
    .section-02 {padding: 65px 0 65px 0;}
    .section-02 form {margin: 0 12%;}
    .section-02 form input {height: 60px;}

    /*FOOTER*/
    footer {padding: 75px 10% 32px 10%;}
    footer li {width: 25%;}
}

/*PARA DESKTOP-1*/
@media only screen and (min-width: 992px) {
    /*HEADER*/
    header img {width: 134px;}

    /*BUTTONS*/
    .btn-nf-sm {padding: 8px 18px; margin-right: 5px; font-size: 1rem;}
    .btn-nf-lg {border-radius: 2px; margin:14px 0; padding: 10px 16px; font-size: 1.625rem; min-width: 200px;}

    /*TITULOS*/
    .hero-t1 {margin: 0 100px;}
    .hero-t2 {font-size: 1.625rem; margin: 16px 0 32px 0;}
    .hero-t3 {font-size: 1.2rem; padding: 0;}
    .t1 {font-size: 3.125rem;}
    .t2 {font-size: 1.625rem;}
    .t3 {font-size: 1.2rem; padding: 0;}

    /*SECTION 1*/
    .background > .section-01 {padding: 140px 5% 155px 5%;}
    .section-01 .campo-email {display: flex; width: 100%;}
    .section-01 form {margin: 0 14%;}

    /*SECTION 2*/
    body > .section-01:nth-of-type(1) {flex-direction: row; flex-wrap: nowrap;}
    .section-01 {padding: 35px 5%;}
    .group-text-01 {text-align: start; padding: 0 65px 0 0;}
    .animation-01 {width: 450px; margin: -8px -28px 0 0;}
    .video-01 {margin: -287px -25px 102px 0; width: 78%;}  

    /*SECTION 3*/
    body > .section-01:nth-of-type(2) {flex-direction: row-reverse; flex-wrap: nowrap;}
    .group-text-02 {text-align: start; padding: 0 0 0 100px;}
    .group-smart {display: flex; flex-direction: column; justify-content: center; align-items: center; margin: 3% 0 5% -9%;}
    .animation-02 {width: 450px;}
    .box {width: 280px; height: 90px; margin: -28% 0 0 0;}

    /*SECTION 4*/
    body > .section-01:nth-of-type(3) {flex-direction: row; flex-wrap: nowrap;}
    .group-text-03 {text-align: start; padding: 0 65px 0 0;}
    .group-devices {margin: 4% -5% 1% 0}
    .animation-03 {width: 465px;}
    .video-02 {width: 279px; margin: -70% 0 35% -1%;}

    /*SECTION 5*/
    .accordion-wrapper {margin: 44px 160px;}
    .accordion {padding: 18px 24px; font-size: 1.6rem;}
    .panel > p {margin: 20px 12px; font-size: 1.6rem;}
    .section-02 .campo-email {display: flex; width: 100%;}
}